@import "./mixins";

@mixin scaling($isize, $fsize, $psize) {
  .main-nav {
    .w3-container {
      padding: $psize calc(#{$psize} * 2);
    }
    img {
      @include make-square($isize);
    }
    a {
      font-size: $fsize;
    }
  }
  .menu-button {
    font-size: $fsize;
  }
  .bars {
    @include make-square($isize);
  }
}
