@import "./mixins";

@mixin nav-button-scaling($isize, $fsize, $psize) {
  .main-nav {
    .w3-container {
      padding: $psize calc(#{$psize} * 2);
    }
    img {
      @include make-square($isize);
    }
    a {
      font-size: $fsize;
    }
  }
}

@mixin menu-button-scaling($fsize, $hsize, $psize) {
  .main-nav {
    .hamburger-button {
      padding: $psize calc(#{$psize} * 2);
    }
    .bars {
      font-size: $fsize;
      height: $hsize;
    }
    .calendar {
      font-size: $fsize;
    }
    .change {
      font-size: $fsize;
    }
  }
}