@mixin remove-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin make-square($value) {
  height: $value;
  width: $value;
}

@mixin animation($type, $duration) {
  -webkit-animation-name: $type;
  -webkit-animation-duration: $duration;
  animation-name: $type;
  animation-duration: $duration;
}
