@mixin remove-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin make-square($value) {
  height: $value;
  width: $value;
}

@mixin animation($type, $duration) {
  -webkit-animation-name: $type;
  -webkit-animation-duration: $duration;
  animation-name: $type;
  animation-duration: $duration;
}

@mixin small-grid-container {
  display: grid;
  align-content: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

@mixin medium-grid-container {
  grid-template-columns: 1fr 1fr;
}

@mixin large-grid-container {
  grid-template-columns: 1fr 1fr 1fr;
}
