@use "mixins";

@mixin content-fd-top($top) {
  .content-fd {
    top: $top;
  }
}

@mixin content-dt-top($top) {
  .content-dt {
    top: $top;
  }
}

@mixin content-fd-scaling($left, $width, $fsize) {
  .content-fd {
    left: $left;
    width: $width;
    font-size: $fsize;
  }
}

@mixin content-dt-scaling($left, $height, $width, $animName) {
  .content-dt {
    left: $left;
    height: $height;
    width: $width;
    @include mixins.animation($animName, 0.45s);
  }
}

@mixin content-dt-vw-scaling($left, $width) {
  .content-dt {
    left: $left;
    width: $width;
  }
}

@mixin content-dt-vh-scaling($height, $animName) {
  .content-dt {
    height: $height;
    @include mixins.animation($animName, 0.45s);
  }
}

@mixin update-button-scaling($width) {
  .update-button {
    width: $width;
  }
}
