@import './variables.scss';

.App {
  background-color: $background-color;
  font-size: calc(1em + 1vmin);
  color: $standard-color;
  overflow: auto;
}

.App-main {
  top: 10vw;
  position: relative;
  z-index: 0;
}

h1 {
  font-size: 7vw;
  margin: 5px;
}

p {
  margin: 5px 2px;
}

@media only screen and (min-width: $tablet) {
  h1 {
    font-size: 5vw;
  }
}

@media only screen and (min-width: $laptop) {
  h1 {
    font-size: 3.5vw;
  }
}
