@import "./variables";
@import "./media_mixins";
@import "./app_mixins";

.App {
  background-color: $background-color;
  font-size: 18px;
  color: $standard-color;
  overflow: auto;
}

.App-main {
  top: 40px;
  position: relative;
  z-index: 0;
}

h1 {
  font-weight: 500;
  font-size: 26px;
  margin: 5px;
  text-align: center;
}

p {
  margin: 5px 2px;
}

.info-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 10px;
}

.info-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@include medium-small-horizontal {
  @include scaling(18px, 26px, 50px);
}

@include large-horizontal {
  @include scaling(25px, 35px, 55px);
}

@include extra-large-horizontal {
  @include scaling(30px, 45px, 75px);
}
