.App {
  background-color: #282c34;
  font-size: calc(1em + 1vmin);
  color: white;
  overflow: auto;
}

.App-main {
  top: 10vw;
  position: relative;
  z-index: 0;
}

h1 {
  font-size: 7vw;
  margin: 5px;
}

p {
  margin: 5px 2px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 3.5vw;
  }
}
