@import './variables.scss';
@import './mixins';

.content > input,
[type="time"] {
  background-color: $background-color;
  color: $navtype-color;
  border: 1px solid;
  border-color: $navtype-color;
  text-align: center;
}

.react-datepicker__input-container {
  @include remove-appearance;
  background-color: $background-color;
  color: $navtype-color;
}

.react-datepicker {
  background-color: $background-color;
  color: $navtype-color;
}

.content > .react-datepicker > button,
[type="button"] {
  @include remove-appearance;
  background-color: none;
  border-color: $navtype-color;
}

.react-datepicker__time-container--with-today-button {
  right: -85px;
}

.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input
  input[type="time"] {
    @include remove-appearance;
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: $background-color;
}

.react-datepicker__header {
  background-color: $background-color;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: $navtype-color;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: $navtype-color;
}

.react-datepicker__today-button {
  background-color: $background-color;
}

.react-datepicker__day--selected {
  color: $standard-color;
}

.button-div {
  padding-bottom: 10px;
}

.update-button {
    color: $navtype-color;
    background-color: $background-color;
    border-color: $navtype-color;
}