@use "Modal.scss";
@use "media_mixins";
@use "modal_mixins";
@use "animation_mixins";
@use "mixins";
@use "variables";

$slide-in-left: 10vw;
$animationName: slideInTopDt;

.content-dt {
  @extend .content;
  top: 15vh;
  left: $slide-in-left;
  height: 82vh;
  width: 80vw;
  @include mixins.animation(slideInLeft, 0.45s);
}

.widget-dt {
  text-align: center;
}

.update-button {
  color: variables.$navtype-color;
  background-color: variables.$background-color;
  border-color: variables.$navtype-color;
  width: 25vw;
}

.react-datepicker {
  background-color: variables.$background-color;
  color: variables.$navtype-color;
}

.react-datepicker__triangle > button {
  border-color: transparent;
}

:-moz-focusring {
  color: none;
  outline: none;
}

.react-datepicker__navigation--previous {
  border-right-color: variables.$navtype-color;
}

.react-datepicker__navigation--next {
  border-left-color: variables.$navtype-color;
}

.react-datepicker__input-time-container {
  text-align: center;
  margin: 5px 0;
  .react-datepicker-time__input {
    input[type="time"] {
      width: 90px;
      margin-left: 2px;
      background-color: variables.$background-color;
      color: variables.$navtype-color;
      border: 1px solid variables.$navtype-color;
      text-align: center;
      @include mixins.remove-appearance;
      font: inherit;
    }
  }
}

.react-datepicker__header {
  background-color: variables.$background-color;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: variables.$navtype-color;
  width: 1rem;
  line-height: 1rem;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: variables.$navtype-color;
}

.react-datepicker__today-button {
  background-color: variables.$background-color;
}

.react-datepicker__day--selected {
  color: variables.$standard-color;
}

@include animation_mixins.slide-in-left($slide-in-left);

@include media_mixins.small-vertical {
  $slide-in-top: 20vh;
  // @include content-dt-scaling(10vw, 60vh, 80vw, $animationName); 
  @include modal_mixins.content-dt-vh-scaling(60vh, $animationName);
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-dt-top($slide-in-top);

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 1.7rem;
    line-height: 1.7rem;
  }
}

@include media_mixins.medium-small-vertical {
  $slide-in-top: 25vh;
  // @include content-dt-scaling(30vw, 50vh, 40vw, $animationName);
  @include modal_mixins.content-dt-vh-scaling(50vh, $animationName);
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-dt-top($slide-in-top);
}

@include media_mixins.medium-vertical {
  $slide-in-top: 25vh;
  @include modal_mixins.content-dt-vh-scaling(45vh, $animationName);
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-dt-top($slide-in-top);
}

@include media_mixins.large-vertical {
  $slide-in-top: 30vh;
  // @include content-dt-scaling(30vw, 40vh, 40vw, $animationName);
  @include modal_mixins.content-dt-vh-scaling(40vh, $animationName);
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-dt-top($slide-in-top);
}

@include media_mixins.extra-large-vertical {
  $slide-in-top: 30vh;
  // @include content-dt-scaling(30vw, 30vh, 40vw, $animationName);
  @include modal_mixins.content-dt-vh-scaling(35vh, $animationName);
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-dt-top($slide-in-top);
}

@include media_mixins.extra-extra-large-vertical {
  $slide-in-top: 30vh;
  @include modal_mixins.content-dt-vh-scaling(30vh, $animationName);
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-dt-top($slide-in-top);
}

@include media_mixins.extra-extra-extra-large-vertical {
  $slide-in-top: 30vh;
  @include modal_mixins.content-dt-vh-scaling(27vh, $animationName);
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-dt-top($slide-in-top);
}

@include media_mixins.extra-small-horizontal {
  $slide-in-left: 25vw;
  @include animation_mixins.slide-in-left($slide-in-left);
  @include modal_mixins.content-dt-vw-scaling(15vw, 70vw);
}

@include media_mixins.small-horizontal {
  $slide-in-left: 25vw;
  @include animation_mixins.slide-in-left($slide-in-left);
  @include modal_mixins.content-dt-vw-scaling(25vw, 45vw);
}

@include media_mixins.medium-small-horizontal {
  $slide-in-left: 25vw;
  @include animation_mixins.slide-in-left($slide-in-left);
  @include modal_mixins.content-dt-vw-scaling(25vw, 42vw);
  @include modal_mixins.update-button-scaling(15vw);
}

@include media_mixins.large-horizontal {
  $slide-in-left: 25vw;
  @include animation_mixins.slide-in-left($slide-in-left);
  @include modal_mixins.content-dt-vw-scaling(25vw, 35vw);
  @include modal_mixins.update-button-scaling(10vw);
}

@include media_mixins.extra-large-horizontal {
  $slide-in-left: 35vw;
  @include animation_mixins.slide-in-left($slide-in-left);
  @include modal_mixins.content-dt-vw-scaling(35vw, 32vw);
  @include modal_mixins.update-button-scaling(7vw);
}
