@use "Modal.scss";
@use "media_mixins";
@use "modal_mixins";
@use "animation_mixins";
@use "mixins";

$animationName: slideInTopFd;

.content-fd {
  @extend .content;
  left: 0;
  width: 100%;
  font-size: 18px;
  @include mixins.animation($animationName, 0.4s);
}

$slide-in-top: 8vh;
@include animation_mixins.slide-in-top($animationName, $slide-in-top);
@include modal_mixins.content-fd-top($slide-in-top);

@include media_mixins.small-vertical {
  $slide-in-top: 25vh;
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-fd-top($slide-in-top);
}

@include media_mixins.medium-vertical {
  $slide-in-top: 30vh;
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-fd-top($slide-in-top);
}

@include media_mixins.large-vertical {
  $slide-in-top: 32vh;
  @include animation_mixins.slide-in-top($animationName, $slide-in-top);
  @include modal_mixins.content-fd-top($slide-in-top);
}

@include media_mixins.for-tablet-portrait-up {
  @include modal_mixins.content-fd-scaling(20vw, 60vw, 18px);
}

@include media_mixins.for-tablet-landscape-up {
  @include modal_mixins.content-fd-scaling(20vw, 60vw, 25px);
}

@include media_mixins.for-desktop-up {
  @include modal_mixins.content-fd-scaling(25vw, 50vw, 30px);
}
