@import './variables';
@import './media_mixins';
@import './app_mixins';

.load-screen {
  // height: 100%;
  // width: 100%;
  // position: relative;
  // z-index: 100;
  background: $background-color;
  color: blue;
  background-color: aqua;
}
