@use "variables";
@use "mixins";
@use "media_mixins";

.lc2-container {
  @include mixins.small-grid-container;
  grid-template-areas:
    "features"
    "landing";
}

.features-item {
  grid-area: features;
}

.landing-item {
  grid-area: landing;
}

@include media_mixins.for-tablet-portrait-up {
  .lc2-container {
    @include mixins.medium-grid-container;
    grid-template-areas: "features landing";
  }
}

@include media_mixins.for-desktop-up {
  .lc2-container {
    @include mixins.large-grid-container;
    grid-template-areas: "features landing . ";
  }
}
