@use "variables";
@use "mixins";
@use "media_mixins";

.lc-container {
  @include mixins.small-grid-container;
  grid-template-areas:
    "special"
    "ne"
    "bino"
    "tele";
}

.special-item {
  grid-area: special;
}

.naked-eye-item {
  grid-area: ne;
}

.bino-item {
  grid-area: bino;
}

.tele-item {
  grid-area: tele;
}

@include media_mixins.for-tablet-portrait-up {
  .lc-container {
    @include mixins.medium-grid-container;
    grid-template-areas:
      "special ne"
      "bino tele";
  }
}

@include media_mixins.for-desktop-up {
  .lc-container {
    @include mixins.large-grid-container;
    grid-template-areas:
      "special ne bino"
      ". tele .";
  }
}
