@import './variables.scss';
@import './_mixins';

.main-nav {
  width: 100%;
  /* position: fixed; */
  height: 9vw;
  background: $background-color;
  z-index: 1;
}

.main-nav .w3-bar-item {
  padding: 0;
}

.main-nav .w3-container {
  padding: 3px 5px;
}

.main-nav-img {
  height: 5vw;
  width: 5vw;
  padding: 0.3vw 0.3vw;
}

.main-nav-p {
  line-height: 1;
  margin: 0;
}

.main-nav a {
  display: inline-block;
  color: $navtype-color;
  text-decoration: none;
  font-size: 3vw;
}

.main-nav a:hover {
  background-color: #eee;
}

.main-nav a.active {
  background-color: #555;
  color: $button-color;
}

.main-nav .dropdown-hide {
  display: none;
}

.main-nav .dropdown-show {
  position: absolute;
  display: flex;
  align-items: stretch;
  right: 0;
  z-index: 1;
}

.main-nav button:hover {
  background-color: #eee;
}

.hamburger-button {
  padding: 0px 7px;
  vertical-align: text-top;
}

.bars {
  color: $standard-color;
  height: 5vw;
  width: 5vw;
}

.main-nav button:focus {
  outline: none;
  background-color: $background-color;
}

.main-nav > button,
[type="button"] {
  @include remove-appearance;
  background-color: $background-color;
  border-color: $background-color;
  border: none;
}

.hamburger-menu > button,
[type="button"] {
  @include remove-appearance;
  background-color: $background-color;
  border-color: $background-color;
  border: none;
}

.menu-button {
  font-size: 3vw;
  color: $navtype-color;
}
