@import "./variables";
@import "./mixins";
@import "./media_mixins";
@import "./modal_mixins";

.header > button,
[type="button"] {
  @include remove-appearance;
  background-color: $background-color;
  color: $button-color;
  border-color: $background-color;
  border: none;
}

.close:hover {
  color: $standard-color;
}

.content {
  position: fixed;
  left: 0;
  width: 100%;
  font-size: 18px;
  overflow: auto;
  background-color: $background-color;
  color: $standard-color;
  z-index: 100;
  @include animation(slideIn, 0.4s);
}

.modal {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  @include animation(fadeIn, 0.4s);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$slide-in-top: 8vh;
@include slide-in-scaling($slide-in-top);
@include content-top($slide-in-top);

@include small-vertical {
  $slide-in-top: 25vh;
  @include slide-in-scaling($slide-in-top);
  @include content-top($slide-in-top);
}

@include medium-vertical {
  $slide-in-top: 30vh;
  @include slide-in-scaling($slide-in-top);
  @include content-top($slide-in-top);
}

@include large-vertical {
  $slide-in-top: 32vh;
  @include slide-in-scaling($slide-in-top);
  @include content-top($slide-in-top);
}

@include for-tablet-portrait-up {
  @include content-scaling(20vw, 60vw, 18px);
}

@include for-tablet-landscape-up {
  @include content-scaling(20vw, 60vw, 25px);
}

@include for-desktop-up {
  @include content-scaling(25vw, 50vw, 30px);
}
