@use "variables";
@use "mixins";
@use "media_mixins";

.mi-container {
  @include mixins.small-grid-container;
  grid-template-areas:
    "mi"
    "nfp"
    "pal"
    "sp";
}

.mi-item {
  grid-area: mi;
}

.nfp-item {
  grid-area: nfp;
}

.pal-item {
  grid-area: pal;
}

.sp-item {
  grid-area: sp;
}

.bad-coords {
  font-style: italic;
}

@include media_mixins.for-tablet-portrait-up {
  .mi-container {
    @include mixins.medium-grid-container;
    grid-template-areas:
      "mi pal"
      "nfp sp";
  }
}

@include media_mixins.for-desktop-up {
  .mi-container {
    @include mixins.large-grid-container;
    grid-template-areas:
      "mi nfp pal"
      ". sp .";
  }
}
