@import "./media_mixins";
@import "./next_four_phase_mixins";

.phase {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

@include scaling(70px, 18px, 8px);

@include for-tablet-portrait-up {
  @include scaling(80px, 18px, 8px);
}

@include for-tablet-landscape-up {
  @include scaling(90px, 25px, 10px);
}

@include for-desktop-up {
  @include scaling(95px, 25px, 20px);
}
