.phase {
    padding: 10px 5px;
    font-size: calc(1em + 1.5vmin);
}

.phase-image {
    height: 25vw;
    width: 25vw;
}

@media only screen and (min-width: 768px) {
    .phase {
        padding: 30px 15px;
    }

    .phase-image {
        height: 20vw;
        width: 20vw;
    }
}
