@use "variables";
@use "media_mixins";

.canvas {
  height: 300px;
}

@include media_mixins.for-tablet-portrait-up {
  .canvas {
    height: 350px;
  }
}

@include media_mixins.for-tablet-landscape-up {
  .canvas {
    height: 400px;
  }
}

@include media_mixins.for-desktop-up {
  .canvas {
    height: 450px;
  }
}
