@import "./variables";

.canvas {
  width: 100%;
  height: 334px;
}

@media only screen and (min-height: $tablet) {
  .canvas {
    height: 384px;
  }
}

@media only screen and (min-height: $tablap) {
  .canvas {
    height: 450px;
  }
}

@media only screen and (min-height: $laptop) {
  .canvas {
    height: 512px;
  }
}
