@import "./variables";
@import "./media_mixins";

.canvas {
  height: 300px;
}

@include for-tablet-portrait-up {
  .canvas {
    height: 350px;
  }
}

@include for-tablet-landscape-up {
  .canvas {
    height: 400px;
  }
}

@include for-desktop-up {
  .canvas {
    height: 450px;
  }
}
