@import "./media_mixins";

.star-active {
  color: orange;
}

.from-new,
.to-new,
.near-full,
.at-full {
  margin: 5px 0;
}

hr {
  margin: 10px 0;
}

@include for-desktop-up {
  hr {
    margin: 20px 0;
  }
}