.main-nav {
    display: -ms-flexbox;
    display: flex;
}

.main-nav nav {
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
}

.main-nav-img {
    height: 5vw;
    width: 5vw;
    padding: 0.5vw 0.5vw;
}

.main-nav-p {
    line-height: 1.0;
    margin: 0;
}

.main-nav nav a {
    display: inline-block;
    /* padding: 0.3em 0.8em; */
    color: #555;
    text-decoration: none;
    font-size: 3vw;
  }
  
.main-nav nav a:hover {
    background-color: #eee;
}

.main-nav nav a.active {
    background-color: #555;
    color: #61dafb;
}
