.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.main-nav {
  display: -ms-flexbox;
  display: flex;
}

.main-nav nav {
  -ms-flex: 1;
  flex: 1;
  margin-left: 2em;
  overflow: auto;
  /* border-bottom: 2px solid #555; */
}

.main-nav nav a {
  display: inline-block;
  padding: 0.3em 1em;
  color: #555;
  text-decoration: none;
}

.main-nav nav a:hover {
  background-color: #eee;
}

.main-nav nav a.active {
  background-color: #555;
  color: #61dafb;
}

.pages-container {
  width: auto;
  position: relative;
  margin: auto;
}

.pages {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: #282c34;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot-div {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.phase-image {
  height: 100px;
  width: 100px;
}