name: CI

on: [merge_group, push, pull_request, workflow_dispatch]

jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@774c1d62961e73038a114d59c8847023c003194d
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Cache Dependencies
        uses: actions/cache@b7e8d49f17405cc70c1c120101943203c98d3a4b
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies
        run: yarn install

      - name: Run Linting
        run: yarn lint

      - name: Run Unit Tests
        run: yarn test
