name: CI

on: [merge_group, push, pull_request, workflow_dispatch]

jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@633bb92bc0aabcae06e8ea93b85aecddd374c402
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Cache Dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies
        run: yarn install

      - name: Run Linting
        run: yarn lint

      - name: Run Unit Tests
        run: yarn test
